app
    h1(class='{ css.tick }')
        | Timezones
    time-list(list='{ timeList }')
    script.
        import './time-list/time-list.pug'
        import { App } from './app'
        new App(this)
