app(class='{ css.host }')
    h1(class='{ css.title }')
        | Timezones
    div(class='{ css.wrap }')
        timezones-input(on-select='{ addTimezone }')
        time-list(list='{ times }' on-event='{ listEvent }')
    script.
        import './timezones/input.pug'
        import './time-list/time-list.pug'
        import { App } from './app'
        new App(this)
