time-list(class='{ css.host }')
    time-box(each='{ time, i in list }' time='{ time }')
    script.
        import './time-box.pug'
        import { TimeList } from './time-list'
        new TimeList(this, opts)