host
    border: 3px solid #bababa
    border-radius: 5px
    display: flex
    align-items: center
    margin: 20px auto
date
    white-space: nowrap
    flex: 1 1 0
    font-family: 'ubuntu', 'sans serif'
    font-size: 30px
    padding: 10px
    font-weight: bold
time
    white-space: nowrap
    flex: 1 1 0
    font-family: 'ubuntu', 'sans serif'
    font-size: 24px
    padding: 10px
    color: #555
ext
    flex: 5 1 auto
zone
    white-space: nowrap
    padding: 10px
    flex: 1 1 0
    font-family: 'ubuntu', 'sans serif'
    font-size: 24px

