time-list(class='{ css.host }')
    time-box(each='{ time, i in list }'
        on-event='{ itemEvent }'
        time='{ time }' at='{ now }')
    script.
        import './time-box.pug'
        import { TimeList } from './time-list'
        new TimeList(this, opts)