time-box(class='{ css.host }')
    div(class='{ css.removal }' if='{ removing }')
        | Remove this zone?
        button(class='{ css.rmbtn }' onclick='{ remove }') Yes
        button(class='{ css.rmbtn }' onclick='{ cancel }') No
    div(class='{ css.wrap }' onclick='{ removable }')
        div(class='{ css.date }')
            | { str.date }
        div(class='{ css.time }')
            | { str.time }
        div(class='{ css.time }')
            | { str.z }
        div(class='{ css.ext }')
        div(class='{ css.zone }')
            | { str.zone }
    script.
        import { TimeBox } from './time-box'
        new TimeBox(this, opts)
